<header>
  <div id="header-container">
    <div id="title" class="title">World Finance</div>
  </div>
</header> 

<div id="root">
  <div>
    <div class="container">
      <div class="flex-grid">
        <div class="column">
        <% if @articles.first %>
          <div id="card">
            <h2 class="card-title"><%= @articles.first.title %></h2>
              <img src="<%= @articles.first.image %>" class="card-img">
                <div class="card-body">
                  <p class="card-text"><%= @articles.first.text.first(200) + "..."%></p>
                </div>
                <% end %>
          </div>
        </div>
          <div class="column">
            <% if @articles.first(5).each do |article| %>
              <div id="card" class="card-body">
                <div class="text-title"> <%= link_to article.title, article_path(article) %></div>
                <div class="text-body"> <%= link_to article.text.first(100) + "..." , article_path(article)%></div> <br>
              </div>
            <% end %>
            <% end %>
          </div>
      </div> 
      <div class="row-container"><div class="row articles">
      <% if @articles.drop(3).each do |article| %> 
      <article class="articleShort articleMain">
        <div class="card-row">
          <div class="card-image-row">
            <img src="<%= article.image %>" class="card-img-row" alt="...">
            </a>
          </div>
          <div class="card-content">
          <h3 class="card-title"><%= link_to article.title, article_path(article) %></h3>
          <p class="card-text"><%= article.text.first(150) + "..." %></p>
          </div>
        </div>
      </article>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
  
    
    
  
